<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<app-article [data]="articulos" (seleccionar)="seleccionarArticulo($event)"></app-article>
<div>
  <p>Codigo: <input type="number" [(ngModel)]="codigo"></p>
  <p>Descripcion: <input type="text" [(ngModel)]="descripcion"></p>
  <p>Precio: <input type="number" [(ngModel)]="precio"></p>
  <button (click)="agregarArticulo()">Agregar</button>
  <button (click)="modificarArticulo()">Modificar</button>
</div>
